.login-container{
	max-width:400px;
	padding: 20px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
	-moz-box-shadow:    0px 0px 8px rgba(0, 0, 0, 0.48);
	box-shadow:         0px 0px 8px rgba(0, 0, 0, 0.48);
	background-color:white;
	
}
.form-control{
	margin-bottom:10px;
	height:50px;
}
.logBtn{
	width: 45% !important;
}
h2{
	color:#EB3F3C;
}
.heading{
	color:#EB3F3C !important;
}
.coming-soon{
	border:10px solid #d9534f;
	padding:20px;
	font-size:2em;
	color:#d9534f;
}
@media screen and (min-width: 768px){
	.main_body{
		margin-top:-75px !important;
	}
}
/*profile index*/
#profileIndex .userImage{
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}
#profileIndex .userInfo{
	padding-left:10px;
	padding-bottom:20px;
	border-bottom: 1px solid #cbcbcb;
	float: center;
}
#profileIndex .userName{
	font-size: 20px;
	line-height: 1;
	font-weight: 300;
	display: inline-block;
	margin-bottom: 6px; 
	text-indent: 10px;
}
#profileIndex .userSocialNetworks{
	text-indent:5px;
	font-size: 13px;
	margin-bottom: 2px;
	color: #999999;
	font-weight: 300;
}
#profileIndex .userWallets,
#profileIndex .userWalletsTable{
	margin-top:-10px;
}
#profileIndex .errorMessage{
	margin-top:-15px;
	padding-top: 12px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-left: 15px;
	background: #e5e5ea;
	border-color:2px solid #cbcbcb;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}